* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-bg {
    background-image: url(./images/hero-bg.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
}

nav {
    padding: 50px;
}

.logo {
    height: 50px;
}